@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

* {
    padding: 0;
    margin: 0;
}

 body {
  font-family: 'Roboto', sans-serif;
//   background-color: #110;
background-color: rgb(24, 25, 27);

  color: #fff
}

form, #weather {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 50px auto;
    text-align: center;
}

input{
    display: block;
    width: 100%;
    background: transparent;
    color: #fff;
    border: 0;
    border-bottom: 2px solid #888;
    font-size: 1.2rem;
    padding: 5px 0
}

input:focus{
     border-color: #ff521f;
     outline: 0;
}

ul{
    list-style: none;
    text-align: left;
}

ul li {
    background-color: #333;
    margin: 2px;
    padding: 10px;
    cursor: pointer;
}

ul li span {
    color: #777;
}


#degrees {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#city {
    color: #ff521f;
    margin-bottom: 10px;
}

button#change {
    border: 2px solid #888;
    background-color: transparent;
    color: #fff;
    padding: 4px 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    cursor: pointer;

}

div.info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

div.info h3 {
    font-size: .8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

div.info .value {
    font-size: 2rem;
}


div.info .value span {
    color: #888;
    font-size: .8rem;
}